extends ../layout/main

block variables
  - var title = 'Webpack + Pug';
  - var description = 'Description for Webpack + Pug';
  - var pageClass = 'index-page';

block content
  section.section_pad-top_150
    .container.container_slider
      .slider
        +inside('наши проекты')
        +switch
      .slider
        .slide
          .slide__img
          +slide__desc('ССК “ОЛИМП”', 'Световое оформление форума “Шубы-2019”')
        .slide
          .slide__img.slide__img_right
          +slide__desc('ССК “ОЛИМП”', 'Световое оформление форума “Шубы-2019”')

  section.section_pad-top_150
    .container.container-catalog
      +inside('каталог продукции')
      .catalog-switch
        a.catalog-switch__link(href="http://localhost/robe") robe
        a.catalog-switch__link(href="http://localhost:8081/#") compulite
      .catalog
        .catalog__item
          .catalog__img
          .catalog__descr Статичные светодиодные приборы
        .catalog__item
          .catalog__img.catalog__img_2
          .catalog__descr Контроллеры
        .catalog__item
          .catalog__img.catalog__img_3
          .catalog__descr Аксессуары

  section.section_pad-top_150
    .container.container_renta
      +inside('аренда оборудования')
      .renta
        p.renta__descr.renta-descr Мы занимаемся прокатом светового и сценического оборудования ведущих мировых производителей, таких как Robe, SGM, StudioDue, ChainMaster, Milos, Universal Effects, ArtLighting, MobilTech, Lampo, Martin, Spotlight, Compulite, Eurolite и др.
        .renta__equipment.renta-equipment
          h3.renta-equipment__descr.renta-equipment-descr Новое оборудование, предоставляемое в аренду:
          +switch
          .renta-equipment__img
          .renta-equipment__facts
            h4.renta-equipment-descr.renta-equipment-descr_font-size_16px Robe Robin ParFect 100
            ul.renta-equipment__list.renta-descr.renta-descr_font-size_14px
              li Источник света 12 светодиодов RGBW по 15 Вт каждый
              li Угол раскрытия 7°
              li В комплекте рассеивающая линза 40°
              li Потребляемая мощность 200 Вт

  section.section_pad-top_150
    .container
      +inside('новости')
      //- +item('item title', 'item descr')
      //- +item('item title', 'item descr')
      //- +item('item title', 'item descr')
  //- example-component

block script
  script(type='text/javascript').
    const foo = true;
    let bar = function() {};
    if (foo) {
    bar(1 + 5)
    }