extends ../layout/main

block variables
  - var title = 'Webpack + Pug';
  - var description = 'Description for Webpack + Pug';
  - var pageClass = 'index-page';

block content
  section.section_pad-top_150
    .container.container_indent_405
      .slider
        +inside('наши проекты')
        +switch
      .slider
        .slide
          .slide__img
          +slide__desc('ССК “ОЛИМП”', 'Световое оформление форума “Шубы-2019”')
        .slide
          .slide__img.slide__img_right
          +slide__desc('ССК “ОЛИМП”', 'Световое оформление форума “Шубы-2019”')

  section.section_pad-top_150
    .container.container-catalog
      +inside('каталог продукции')
      .catalog-switch
        a.catalog-switch__text(href="#") robe
        a.catalog-switch__text(href="#") compulite
      .catalog
        .catalog__item
          .catalog__img
          .catalog__descr Статичные светодиодные приборы
        .catalog__item
          .catalog__img
          .catalog__descr Контроллеры
        .catalog__item
          .catalog__img
          .catalog__descr Аксессуары

  section.section_pad-top_150
    .container
      +inside('аренда оборудования')
    .container
      +inside('новости')
      //- +item('item title', 'item descr')
      //- +item('item title', 'item descr')
      //- +item('item title', 'item descr')
  //- example-component

block script
  script(type='text/javascript').
    const foo = true;
    let bar = function() {};
    if (foo) {
    bar(1 + 5)
    }