extends ../layout/main

block variables
  - var title = 'Webpack + Pug';
  - var description = 'Description for Webpack + Pug';
  - var pageClass = 'index-page';

block content
  section.section_pad-top_150
    .container.container_slider
      .slider
        +inside('наши проекты')
        +switch
      .slider
        .slide
          .slide__img
          +slide__desc('ССК “ОЛИМП”', 'Световое оформление форума “Шубы-2019”')
        .slide
          .slide__img.slide__img_right
          +slide__desc('ССК “ОЛИМП”', 'Световое оформление форума “Шубы-2019”')

  section.section_pad-top_150
    .container.container-catalog
      +inside('каталог продукции')
      .catalog-switch
        a.catalog-switch__link(href="http://localhost/robe") robe
        a.catalog-switch__link(href="http://localhost:8081/#") compulite
      .catalog
        .catalog__item
          .catalog__img
          .catalog__descr Статичные светодиодные приборы
        .catalog__item
          .catalog__img.catalog__img_2
          .catalog__descr Контроллеры
        .catalog__item
          .catalog__img.catalog__img_3
          .catalog__descr Аксессуары

  section.section_pad-top_150
    .container.container_renta
      +inside('аренда оборудования')
      .renta
        p.renta__descr.renta-descr Мы занимаемся прокатом светового и сценического оборудования ведущих мировых производителей, таких как Robe, SGM, StudioDue, ChainMaster, Milos, Universal Effects, ArtLighting, MobilTech, Lampo, Martin, Spotlight, Compulite, Eurolite и др.
        .renta__equipment.renta-equipment
          h3.renta-equipment__descr.renta-equipment-descr Новое оборудование, предоставляемое в аренду:
          +switch
          .renta-equipment__img
          .renta-equipment__facts
            h4.renta-equipment-descr.renta-equipment-descr_font-size_16px Robe Robin ParFect 100
            ul.renta-equipment__list.renta-descr.renta-descr_font-size_14px
              li Источник света 12 светодиодов RGBW по 15 Вт каждый
              li Угол раскрытия 7°
              li В комплекте рассеивающая линза 40°
              li Потребляемая мощность 200 Вт

  section.section__news
    .container.news
      .news__header.news-header
        +inside('новости')
        form
          input.news-header__button.news-header-button(type='submit', value='все новости')
      .news__content
        .news__item.news-item
          .news-item__column-1.news-item-img

          .news-item__column-2.news-item-column-2
            .news-item-column-2__header.news-item-header= 'Семинар Milos'
              span.news-item-column-2__date.news-item-descr.news-item-date 27.01.2019
            .news-item-column-2__descr.news-item-descr= 'Наши сотрудники прошли последний семинар от компании Milos. Они получили новый объем знаний, который позволит нашей компании заниматься оборудованием не только мероприятий, но производственных помещений.'
            .news-item-column-2__link= 'Читать полностью...'

          .news-item__column-3
          .news-item__column-4


      //- +item('item title', 'item descr')      
  //- example-component

block script
  script(type='text/javascript').
    const foo = true;
    let bar = function() {};
    if (foo) {
    bar(1 + 5)
    }